<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div ng-app="myApp">
    <div ng-controller="myCtrlBasic">
        <p>myCtrlBasic</p>
        <input ng-model="var1" type="text">{{var1}}<br>
        <input ng-model="var2" type="text">{{var2}}<br>
    </div>
    <div ng-controller="myCtrlComPessoa">
        <p>myCtrlBasicComPessoa</p>
        <input ng-model="var1" type="text">{{var1}}<br>
        <input ng-model="var2" type="text">{{var2}}<br>
        <input ng-model="pessoa.nome" type="text">{{pessoa.nome}}<br>
        <input ng-model="pessoa.idade" type="text">{{pessoa.idade}}<br>
    </div>
</div>
</body>
<script src="angular.min.js"></script>
<script type="text/javascript">
    var myApp = angular.module("myApp", []);
    //se estiver trabalhando com django, é preciso substituir o {{ }} por outro modelo para nao ter conflito com django
    //exemplo:
    /*
    myApp.config(function($interpolateProvider){
        $interpolateProvider.startSymbol('{[').endSymbol(']}');
    });
    */

    //se quiser trabalhar com model
    myApp.factory("Pessoa", function($http){
        var pessoa = {
            nome: null,
            idade: null
        }
        pessoa.salvar = function(){
            var dados = {
                nome: pessoa.nome,
                idade: pessoa.idade
            }
            $http({
                method: "POST",
                params: dados,
                url: "/pessoa/salvar",
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then(function successCallback(response) {
                //salvo com sucesso
                console.log(response);
            }, function errorCallback(response) {
                //houve um erro no servidor
                console.log(response);
            });
        }
        return pessoa
    });
    myApp.controller('myCtrlBasic', function($scope) {
        $scope.var1 = "teste 1";
        $scope.var2 = "teste 2";
    });
    myApp.controller('myCtrlComPessoa', function($scope, Pessoa) {
        $scope.var1 = "teste 1";
        $scope.var2 = "teste 2";
        $scope.pessoa = Pessoa;
    });


    <!--var myApp = angular.module('ngApp', []);-->

    myApp.controller('MainCtrl', ['$scope', function ($scope) {
        'use strict';
        $scope.smartphones = [
            {brand: 'Apple', model: 'iPhone 4S', price: '999'},
            {brand: 'Samsung', model: 'SIII', price: '888' },
            {brand: 'LG', model: 'Optimus', price: '777'},
            {brand: 'htc', model: 'Desire', price: '666'},
            {brand: 'Nokia', model: 'N9', price: '555'}
        ];
        $scope.search = function (row) {
            //return !!((row.brand.indexOf($scope.query || '') !== -1 || row.model.indexOf($scope.query || '') !== -1));
            return false;//$scope.smartphones[2]
        };
    }]);
</script>
</html>
